<?xml version="1.0"?>

<!-- 
This is a variant of the official Bitcraze Crazyflie model(MIT License, Copyright (c) 2022 Bitcraze). 

Refer for original model(https://github.com/bitcraze/crazyflie-simulation/tree/main/simulator_files/gazebo/crazyflie)
-->

<model>
  <name>crazyflie</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rakshith Ajetaravi</name>
    <email>rakshithajetaravi@gmail.com</email>
  </author>
  
  <description>
    Crazyflie 2.1+ quadrotor model for trajectory tracking with different controllers. 
    Direct motor speed command, as built in velocity controller removed, added IMU.
  </description>
</model>